<h1><%= @product['product']['name'] %></h1>

	<%= image_tag @product['product']['image_thumb_url'] %> <br>

	<div>
	Price: <%= format_price(@product['product']['price_in_cents']) %> <br>
	From: <%= @product['product']['origin'] %> <br>
	Inventory Count: <%= @product['product']['inventory_count'] %>
	</div>

	<table>
		<h3>Stores Available At:</h3>
		<% @product['result'].each do |stores| %>
		<tr>
			<td><%= stores['name'] %></td>
		</tr>
		<% end %>
	</table>

	<div>
		<%= link_to 'Back', products_path(@products) %>
	</div>